# Jupyter notebook 'system' files
**/.ipynb_checkpoints/

# Tests
/notebooks/test.ipynb
/notebooks/well_data_norge_API_altair_graph_Copy.ipynb
/notebooks/geospatialisation_well_data_norge_Copy.ipynb
/notebooks/well_data_norge_API_altair_graph_edited.ipynb

# Previous versions of published notebooks
/old/


